*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#FAFAF8;
    width: 100vw;
    height:100vh;
    font-family: "Inter", sans-serif;
}

header{
    background-color: #ffff;
    width: 100%;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.875rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

header img{
    width: 43px;
    height: 52px;
}

header h1{
    font-weight: 400;
    font-size: 2rem;
    line-height: 60px;
    letter-spacing: -5%;
}

.add-ingredient form{
    width: 100%;
    margin-top: 3.125em;
    margin-bottom: 1.875em;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.75em;
}

.add-ingredient input{
    width: 50%;
    max-width: 339px;
    height: 38px;
    padding: 0.5625em 0.8125em;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.add-ingredient button{
    max-width: 183px;
    width: 35%;
    height: 38px;
    border-radius: 6px;
    color:#FAFAF8;
    background-color: #141413;
    border: none;
}

.ingredient-list{
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 594px;
    margin: 0 auto;
    gap: 0.625em;
}

.ingredient-list h2{
    font-weight: 600;
    font-size: 1.5625rem;
    line-height: 38px;
}

.ingredient-list ul li{
    margin: 1.125em 0.9375em;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #475467;
}




@media (min-width: 768px){

    .add-ingredient form{
        margin-bottom: 2.5rem;
    }

    .ingredient-list{
        padding-left: 1.9rem;
    }
}
