*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
 overflow-y: auto;
 &::-webkit-scrollbar {
    display: none;
  }
scrollbar-width: none;
-ms-overflow-style: none;
}

body{
    background-color:#FAFAF8;
    width: 100vw;
    height:100vh;
    font-family: "Inter", sans-serif;
}

header{
    background-color: #ffff;
    width: 100%;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.875rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

header img{
    width: 43px;
    height: 52px;
}

header h1{
    font-weight: 400;
    font-size: 2rem;
    line-height: 60px;
    letter-spacing: -5%;
}

.add-ingredient form{
    width: 100%;
    margin-top: 3.125em;
    margin-bottom: 1.875em;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.75em;
}

.add-ingredient input{
    width: 50%;
    max-width: 339px;
    height: 38px;
    padding: 0.5625em 0.8125em;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.add-ingredient button{
    max-width: 183px;
    width: 35%;
    height: 38px;
    border-radius: 6px;
    color:#FAFAF8;
    background-color: #141413;
    border: none;
}

.add-ingredient button:hover,.add-ingredient button:focus{
    background-color: #242423;
}

.ingredient-list{
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 600px;
    height: 200px;
    margin: 0 auto;
    gap: 0.625em;
}

.ingredient-list h2{
    font-weight: 600;
    font-size: 1.5625rem;
    line-height: 38px;
}

.ingredient-list ul{
    max-height: 200px;
    overflow: auto;
   display: flex;
   flex-wrap: wrap;
    gap:1em;
}


.ingredient-list ul li{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 28px;
    color: #475467;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.1em 0.5em 0.1em 1em;
    border-radius: 8px;
    gap:0.5em;
}

.fa-xmark{
    font-size: 0.7rem;
    margin-left: 0.3em;
}

.ingredient-list ul li:hover{
    color:rgb(249, 135, 135);
    border: 1px solid rgb(249, 135, 135);
}

.warning{
    font-size: 1rem;
    line-height: 38px;
    color:rgb(249, 135, 135) ;
    display: flex;
    align-items: center;
    gap:0.5em;
}
.fa-circle-exclamation{
    font-size:1.4em ;
}

.generate-recipe{
    width: 90%;
    max-width: 549px;
    height: 109px;
    padding: 1em;
    background-color: #F0EFEB;
    display: flex;
    margin: 2em auto;
    justify-content: center;
    align-items: center;
    gap:2em;
    border-radius: 8px;
}

.generate-recipe h3{
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 24px;
}

.generate-recipe p{
    margin-top: 0.25em;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    color: #6B7280;
}

.generate-recipe button{
    font-size: 0.875rem;
    width: 45%;
    max-width: 115px;
    height: 38px;
    background-color: #D17557;
    font-family: "Inter", sans-serif;
    color: #FAFAF8;
    border-radius: 6px;
    border: none;
    outline: none;
}
.generate-recipe button:hover,.generate-recipe button:focus{
    background-color: #c7664d;
}
@media (min-width: 768px){

    .add-ingredient form{
        margin-bottom: 2.5rem;
    }

    .ingredient-list{
        padding-left: 1.9rem;
    }
}
